openapi: 3.0.0
info:
  version: 1.1.2022090801
  title: GigaLogistics API
  termsOfService: https://example.com/terms/
  contact:
    name: GigaLogistics Sales & Support
    email: sa-support@gigacloudtech.com
    url: http://example.com/contact
  x-logo:
    url: >-
      http://ar-logistics-hk-prod.oss-cn-hongkong.aliyuncs.com/logistics-parent/openapi/DJYClogo1.png
  description: "This is an **example** API to demonstrate features of the OpenAPI specification.\r\n\r\n# Getting Started\r\n\r\nThis API definition is intended to to be a good starting point for\r\ndescribing your API in \r\n\r\n[OpenAPI/Swagger\r\nformat](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md).\r\n\r\nIt also demonstrates features of the\r\n[create-openapi-repo](https://github.com/Redocly/create-openapi-repo) tool\r\nand \r\n\r\nthe [Redoc](https://github.com/Redocly/Redoc) documentation engine. Beyond\r\nthe standard OpenAPI syntax, we use a few \r\n\r\n[vendor\r\nextensions](https://github.com/Redocly/Redoc/blob/master/docs/redoc-vendor-extensions.md).\r\n\r\n"
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
tags:
  - name: Carriers
    description: carriers
  - name: Carrier Accounts
    description: carrier accounts
  - name: Rates
    description: rates
  - name: Shipments
    description: >-
      Shipments are at the center of the GIGALOGISTICS API. A shipment is the
      first step in creating a shipping label, or creating a manifest. It's also
      essential for getting shipping rates.
  - name: Tracking
    description: tracking
  - name: Warehouses
    description: warehouses
servers:
  - url: https://sandbox.com
    description: Sandbox Server
  - url: https://prod.com
    description: Production Server
paths:
  /carrier/v1:
    get:
      tags:
        - Carriers
      summary: List Carriers
      description: List all carriers that have been added to this account.
      operationId: listCarrier
      security:
        - api_key: []
        - basic_auth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarrierResp'
        '401':
          description: Unauthorized
  /carrier/v1/{carrierId}:
    get:
      tags:
        - Carriers
      summary: Get Carrier By ID
      description: Retrive carrier info by ID
      operationId: getCarrierById
      security:
        - api_key: []
        - basic_auth: []
      parameters:
        - name: carrierId
          in: path
          description: Carrier ID
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 25
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Carrier'
        '401':
          description: Unauthorized
  /carrier/v1/{carrierId}/options:
    get:
      tags:
        - Carriers
      summary: Get Carrier Options
      description: Get a list of the options available for the carrier
      operationId: getCarrierOptionById
      security:
        - api_key: []
        - basic_auth: []
      parameters:
        - name: carrierId
          in: path
          description: Carrier ID
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 25
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: AN array of carrier options
                items:
                  $ref: '#/components/schemas/Option'
        '401':
          description: Unauthorized
  /carrier/v1/{carrierId}/packages:
    get:
      tags:
        - Carriers
      summary: Get Carrier Packages
      description: Get a list of the options available for the carrier
      operationId: getCarrierPackageById
      security:
        - api_key: []
        - basic_auth: []
      parameters:
        - name: carrierId
          in: path
          description: Carrier ID
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 25
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: AN array of carrier options
                items:
                  $ref: '#/components/schemas/Package'
        '401':
          description: Unauthorized
  /carrier/v1/{carrierId}/services:
    get:
      tags:
        - Carriers
      summary: Get Carrier Services
      description: Get a list of the options available for the carrier
      operationId: getCarrierServiceById
      security:
        - api_key: []
        - basic_auth: []
      parameters:
        - name: carrierId
          in: path
          description: Carrier ID
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 25
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: AN array of carrier options
                items:
                  $ref: '#/components/schemas/Service'
        '401':
          description: Unauthorized
  /shipment/v1:
    post:
      tags:
        - Shipments
      summary: Create Shipments
      description: >-
        Shipments are at the center of the LogisticsParent API. A shipment is
        the first step in creating a shipping label, or creating a manifest.
        It's also essential for getting shipping rates.
      operationId: createShipment
      security:
        - api_key: []
      requestBody:
        content:
          application/json:
            schema:
              properties:
                shipments:
                  type: array
                  items:
                    $ref: '#/components/schemas/create_shipments_request_body'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResp'
        '400':
          description: Unauthorized
      x-codeSamples:
        - lang: C#
          source: "API.v1.Echo echo = new API.v1.Echo();\r\necho.message = \"Hello World!\");\r\nEchoResponse response = echo.post();\r\nif (response.statusCode == HttpStatusCode.Created)\r\n{\r\n  // Success\r\n}\r\nelse\r\n{\r\n  // Something wrong -- check response for errors\r\n  Console.WriteLine(response.getRawResponse());\r\n}\r\n"
        - lang: PHP
          source: "$form = new \\API\\Entities\\Echo();\r\n$form->setMessage(\"Hello World!\");\r\ntry {\r\n    $pet = $client->echo()->post($form);\r\n} catch (UnprocessableEntityException $e) {\r\n    var_dump($e->getErrors());\r\n}\r\n"
  /warehouse/v1:
    get:
      tags:
        - Warehouses
      summary: List Warehouses
      description: Retrieve a list of warehouses associated with this account.
      operationId: listWarehouses
      security:
        - api_key: []
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                type: object
                title: list_warehouses_response_body
                description: A warehouse list response body
                properties:
                  warehouses:
                    description: The array of warehouses returned by the API call
                    type: array
                    items:
                      $ref: '#/components/schemas/Warehouse'
        '400':
          description: Unauthorized
      x-codeSamples:
        - lang: C#
          source: "API.v1.Echo echo = new API.v1.Echo();\r\necho.message = \"Hello World!\");\r\nEchoResponse response = echo.post();\r\nif (response.statusCode == HttpStatusCode.Created)\r\n{\r\n  // Success\r\n}\r\nelse\r\n{\r\n  // Something wrong -- check response for errors\r\n  Console.WriteLine(response.getRawResponse());\r\n}\r\n"
        - lang: PHP
          source: "$form = new \\API\\Entities\\Echo();\r\n$form->setMessage(\"Hello World!\");\r\ntry {\r\n    $pet = $client->echo()->post($form);\r\n} catch (UnprocessableEntityException $e) {\r\n    var_dump($e->getErrors());\r\n}\r\n"
    post:
      tags:
        - Warehouses
      summary: Create Warehouse
      description: >-
        Create a warehouse location that you can use to create shipping items by
        simply passing in the generated warehouse id. If the return address is
        not supplied in the request body then it is assumed that the origin
        address is the return address as well
      operationId: createWarehouse
      security:
        - api_key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAndUpdateReq'
        description: requestBody description
        required: true
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                type: object
                title: list_warehouses_response_body
                description: A warehouse list response body
                properties:
                  warehouses:
                    description: The array of warehouses returned by the API call
                    type: array
                    items:
                      $ref: '#/components/schemas/Warehouse'
        '400':
          description: Unauthorized
      x-codeSamples:
        - lang: C#
          source: "API.v1.Echo echo = new API.v1.Echo();\r\necho.message = \"Hello World!\");\r\nEchoResponse response = echo.post();\r\nif (response.statusCode == HttpStatusCode.Created)\r\n{\r\n  // Success\r\n}\r\nelse\r\n{\r\n  // Something wrong -- check response for errors\r\n  Console.WriteLine(response.getRawResponse());\r\n}\r\n"
        - lang: PHP
          source: "$form = new \\API\\Entities\\Echo();\r\n$form->setMessage(\"Hello World!\");\r\ntry {\r\n    $pet = $client->echo()->post($form);\r\n} catch (UnprocessableEntityException $e) {\r\n    var_dump($e->getErrors());\r\n}\r\n"
  /warehouse/v1/{warehouseId}:
    parameters:
      - name: warehouseId
        in: path
        description: Warehouse ID
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 25
    get:
      tags:
        - Warehouses
      summary: Get Warehouse By Id
      description: |
        Retrieve warehouse data based on the warehouse ID
      operationId: getWarehouseById
      security:
        - main_auth:
            - read:users
        - api_key: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Warehouse'
        '403':
          description: Forbidden
          $ref: '#/components/responses/Problem'
        '404':
          description: User not found
          $ref: '#/components/responses/Problem'
    put:
      tags:
        - Warehouses
      summary: Update WareHouse By Id
      description: |
        Update Warehouse object information
      operationId: updateWarehouseById
      security:
        - main_auth:
            - read:users
        - api_key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAndUpdateReq'
        description: requestBody description
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Warehouse'
        '403':
          description: Forbidden
          $ref: '#/components/responses/Problem'
        '404':
          description: User not found
          $ref: '#/components/responses/Problem'
    delete:
      tags:
        - Warehouses
      summary: Delete Warehouse By ID
      description: |
        Delete a warehouse by ID
      operationId: removeWarehouseById
      security:
        - main_auth:
            - read:users
        - api_key: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: boolean
        '403':
          description: Forbidden
          $ref: '#/components/responses/Problem'
        '404':
          description: User not found
          $ref: '#/components/responses/Problem'
components:
  securitySchemes:
    main_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: http://example.com/api/oauth/dialog
          scopes:
            read:users: read users info
            write:users: modify or remove users
    api_key:
      type: apiKey
      in: header
      name: api_key
    basic_auth:
      type: http
      scheme: basic
  schemas:
    Service:
      type: object
      properties:
        carrierId:
          description: A string that uniquely identifies the carrier
          type: string
          minLength: 1
          maxLength: 25
          example: auto_fund_not_supported
        carrierCode:
          description: >-
            A string that uniquely identifies a ShipEngine resource, such as a
            carrier, label, shipment, etc.
          type: string
          minLength: 1
          maxLength: 25
          example: Body of request cannot be null.
        serviceCode:
          description: service code
          type: string
          minLength: 1
          example: test01
        name:
          description: User friendly service name
          type: string
          minLength: 1
          example: test
        domestic:
          description: Supports domestic shipping
          type: boolean
          example: false
        international:
          description: Supports international shipping.
          type: boolean
          example: false
        isMultiPackageSupported:
          description: Carrier supports multiple packages per shipment
          type: boolean
          example: false
    Package:
      type: object
      properties:
        packageId:
          description: A string that uniquely identifies the package.
          type: string
          minLength: 1
          maxLength: 25
          example: test
        packageCode:
          description: A package type
          type: string
          minLength: 1
          example: large_package
        name:
          description: name
          type: string
          minLength: 1
          example: test
        dimensions:
          description: An error message associated with the failed API call
          type: string
        description:
          description: Provides a helpful description for the custom package.
          type: string
          example: remark
      required:
        - packageCode
        - name
    Option:
      type: object
      properties:
        name:
          description: Name of advanced option
          type: string
          minLength: 1
          example: COD
        defaultValue:
          description: Default value of option
          type: string
          minLength: 1
          example: COD
        description:
          description: Description of option
          type: string
          minLength: 0
          example: remark
      required:
        - errorCode
        - message
    Carrier:
      type: object
      properties:
        carrierId:
          description: A string that uniquely identifies the carrier.
          type: string
          minLength: 1
          maxLength: 25
          example: se-28529731
        carrierCode:
          description: A string that uniquely identifies the carrier.
          type: string
          minLength: 1
          maxLength: 25
          example: se-28529731
        accountNumber:
          description: The account number that the carrier is connected to.
          type: string
          minLength: 1
          example: account_570827
        requiresFundedAmount:
          description: Indicates whether the carrier requires funding to use its services
          type: string
          minLength: 1
          example: account_570827
        balance:
          description: Current available balance
          type: number
          format: double
          minLength: 0
          example: 1.23
        nickname:
          description: Nickname given to the account when initially setting up the carrier.
          type: string
          minLength: 1
          example: name
        friendlyName:
          description: Screen readable name
          type: string
          minLength: 1
          example: name
        primary:
          description: >-
            Is this the primary carrier that is used by default when no carrier
            is specified in label/shipment creation
          type: boolean
          example: false
        hasMultiPackageSupportingServices:
          description: Carrier supports multiple packages per shipment
          type: boolean
          example: false
        supportsLabelMessages:
          description: The carrier supports adding custom label messages to an order.
          type: boolean
          example: false
        services:
          description: A list of services that are offered by the carrier
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/Service'
        packages:
          description: A list of package types that are supported by the carrier
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/Package'
        options:
          description: A list of options that are available to that carrier
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/Option'
    CarrierError:
      type: object
      properties:
        errorCode:
          description: The error code specified for the failed API Call
          type: string
          minLength: 1
          example: auto_fund_not_supported
        message:
          description: An error message associated with the failed API call
          type: string
          minLength: 1
          example: Body of request cannot be null.
      required:
        - errorCode
        - message
    CarrierResp:
      type: object
      properties:
        carriers:
          description: The carrier response body
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/Carrier'
        requestId:
          description: >-
            A UUID that uniquely identifies the request id. This can be given to
            the support team to help debug non-trivial issues that may occur
          type: string
          minLength: 1
          example: aa3d8e8e-462b-4476-9618-72db7f7b7009
        errors:
          description: The errors associated with the failed API call
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/CarrierError'
      required:
        - carriers
        - requestId
        - errors
    contact:
      type: object
      properties:
        personName:
          description: The name of a contact person at this address.
          type: string
          maxLength: 35
          example: 1 Collection Point Name (Test 1)
        phoneNumber:
          description: >-
            The phone number of a contact person at this address. The format of
            this phone number varies depending on the country.
          type: string
          maxLength: 25
          x-nullable: true
          example: 1234-123456789
        companyName:
          description: Specify contact company name. Maximum length is 35.
          type: string
          maxLength: 35
          x-nullable: true
          example: 1 Collection Point Name (Test 1)
        emailAddress:
          description: Specify contact email address. Maximum length is 40.
          type: string
          maxLength: 40
          x-nullable: true
          example: TEST@TEST.COM
      required:
        - personName
    address:
      type: object
      properties:
        countryCode:
          description: This is the two-letter country code.
          type: string
          minLength: 2
          maxLength: 2
          example: GB
        stateOrProvinceCode:
          description: This is a placeholder for state or province code.
          type: string
          maxLength: 35
          example: TEST
        city:
          description: The name of city, town of the recipient.Max length is 35.
          type: string
          maxLength: 35
          example: 155 COLLECTION TOWN
        zipCode:
          description: This is the postal code.
          type: string
          maxLength: 10
          example: SL7 1TB
        streetLine1:
          description: >-
            This is the combination of number, street name, etc. Maximum length
            per line is 35.
          type: string
          maxLength: 35
          example: 155 COLLECTION STREET 1
        streetLine2:
          description: >-
            his is the combination of number, street name, etc. Maximum length
            per line is 35.
          type: string
          maxLength: 35
          example: TEST
          x-nullable: true
        addressType:
          description: Indicate this address type
          type: string
          enum:
            - Residential
            - Business
            - Parcelshop
          example: Residential
          x-nullable: true
      required:
        - countryCode
        - stateOrProvinceCode
        - city
        - zipCode
        - streetLine1
    shipper:
      type: object
      properties:
        contact:
          description: Indicate the contact details for this shipment.
          $ref: '#/components/schemas/contact'
        address:
          description: This is detailed information on physical location.
          $ref: '#/components/schemas/address'
      required:
        - contact
        - address
    recipient:
      properties:
        contact:
          description: This is detailed information on physical location.
          $ref: '#/components/schemas/contact'
        address:
          description: Indicate the contact details for this shipment.
          $ref: '#/components/schemas/address'
      required:
        - contact
        - address
    gg_id:
      title: ''
      type: string
      minLength: 1
      maxLength: 25
      pattern: ^se(-[a-z0-9]+)+$
      example: se-28529731
      description: >-
        A string that uniquely identifies a GIGALOGISTICS resource, such as a
        carrier, label, shipment, etc.
    signature_option_fedex:
      type: object
      properties:
        signatureOption:
          description: |-
            Valid Values:

             - `ADULT`: Adult signature required, at recipient address.

             - `DIRECT`: Signature required, at recipient address.

             - `INDIRECT`: Signature required, alternate address is accepted.This option is available for residential deliveries only

             - `NO_SIGNATURE_REQUIRED`: Signature is not required.

             - `SERVICE_DEFAULT`: Signature handled as per current Service Guide.
          type: string
          enum:
            - NO_SIGNATURE_REQUIRED
            - SERVICE_DEFAULT
            - INDIRECT
            - DIRECT
            - ADULT
          example: DIRECT
    signature_option_gel:
      type: object
      properties:
        signatureOption:
          description: >-
            Signing service type, only when the value is NO_SIGNATURE_REQUIRED
            do not purchase the service, the default is purchase.
          type: string
          enum:
            - NO_SIGNATURE_REQUIRED
          example: NO_SIGNATURE_REQUIRED
    signature_option_evri:
      type: object
      properties:
        signatureOption:
          description: Signing service type
          type: string
          enum:
            - 'false'
            - 'true'
          default: 'false'
          example: 'false'
    LabelSpecification_fedex:
      type: object
      properties:
        imageType:
          description: Specify the image format used for a shipping document.
          type: string
          enum:
            - PNG
            - PDF
            - ZPLII
            - EPL2
          example: PDF
        labelStockType:
          description: Indicate the label stock type used.
          type: string
          enum:
            - STOCK_4X6
            - PAPER_4X6
          example: STOCK_4X6
      required:
        - imageType
        - labelStockType
    LabelSpecification_gel:
      type: object
      properties:
        imageType:
          description: Specify the image format used for a shipping document.
          type: string
          enum:
            - PDF
          example: PDF
      required:
        - imageType
    LabelSpecification_gls:
      type: object
      discriminator:
        propertyName: imageType
        mapping:
          PDF: '#/components/schemas/gls_pdf'
          ZEBRA: '#/components/schemas/gls_zebra'
          INTERMEC: '#/components/schemas/gls_intermec'
          DATAMAX: '#/components/schemas/gls_datamax'
          TOSHIBA: '#/components/schemas/gls_toshiba'
      description: >-
        These are label specification details includes the image type, printer
        format, and label stock for label.
      x-nullable: true
      properties:
        imageType:
          description: Specify the image format used for a shipping document.
          type: string
          default: PDF
          enum:
            - PDF
            - ZEBRA
            - INTERMEC
            - DATAMAX
            - TOSHIBA
          example: PDF
    gls_pdf:
      type: object
      title: PDF
      description: PDF printer format
      allOf:
        - $ref: '#/components/schemas/LabelSpecification_gls'
        - type: object
          properties:
            templateSet:
              type: string
              default: NONE
              example: NONE
      required:
        - templateSet
    gls_zebra:
      type: object
      title: ZEBRA
      description: ZEBRA printer format
      allOf:
        - $ref: '#/components/schemas/LabelSpecification_gls'
        - type: object
          properties:
            templateSet:
              type: string
              default: ZPL_200
              example: ZPL_200
              enum:
                - ZPL_200
                - ZPL_300
    gls_intermec:
      type: object
      title: INTERMEC
      description: INTERMEC printer format
      allOf:
        - $ref: '#/components/schemas/LabelSpecification_gls'
        - type: object
          properties:
            templateSet:
              type: string
              default: PF_4_I
              example: PF_4_I
              enum:
                - PF_4_I
                - PF_4_I_200
                - PF_4_I_300
                - PF_8_D_200
      required:
        - templateSet
    gls_datamax:
      type: object
      title: DATAMAX
      description: DATAMAX printer format
      allOf:
        - $ref: '#/components/schemas/LabelSpecification_gls'
        - type: object
          properties:
            templateSet:
              type: string
              default: D_200
              example: D_200
              enum:
                - D_200
      required:
        - templateSet
    gls_toshiba:
      type: object
      title: TOSHIBA
      description: TOSHIBA printer format
      allOf:
        - $ref: '#/components/schemas/LabelSpecification_gls'
        - type: object
          properties:
            templateSet:
              type: string
              default: T_200_BF
              example: T_200_BF
              enum:
                - T_200_BF
                - T_300_BF
      required:
        - templateSet
    LabelSpecification_whistl:
      type: object
      properties:
        imageType:
          description: Specify the image format used for a shipping document.
          type: string
          enum:
            - PDF
            - GIF
            - PNG
            - TIFF
            - JPEG
          example: PDF
        labelStockType:
          description: Indicate the label stock type used.
          type: string
          enum:
            - '6'
            - '8'
          minLength: 1
          maxLength: 1
          example: '6'
      required:
        - imageType
        - labelStockType
    Weight:
      type: object
      properties:
        value:
          description: The weight, in the specified unit
          type: number
          format: double
          example: 12.3
        units:
          description: The possible weight unit values.
          type: string
          enum:
            - KG
            - LB
          example: KG
          title: Unit information
      required:
        - value
        - units
    Dimensions:
      type: object
      properties:
        unit:
          description: The dimension units that are supported by GIGALOGISTICS.
          type: string
          default: in
          enum:
            - cm
            - in
          title: Unit information
        length:
          description: Indicate the length of the package.
          type: number
          format: double
          minLength: 1
          example: 5
        width:
          description: Indicate the width of the package.
          type: number
          format: double
          minLength: 1
          example: 8.23
        height:
          description: Indicate the height of the package.
          type: number
          format: double
          minLength: 1
          example: 9.24
      required:
        - length
        - width
        - height
        - unit
    special_service:
      type: object
      description: >-
        These are special services that are available at the package level for
        some or all service types.
      properties:
        specialServiceTypes:
          description: Indicate the types of special services requested for the shipment.
          externalDocs:
            description: Find more info here
            url: https://example.com
          type: array
          items:
            type: string
            enum:
              - DANGEROUS_GOODS
              - COD
              - AVIS_DEPOT
              - AVIS_FAHRER
              - AVIS_SMS
              - AVIS_MAIL
              - INTERNATIONAL_FORM
          example:
            - DANGEROUS_GOODS
            - COD
        specialServiceAttributeList:
          description: These are special services dynamic fields
          type: array
          items:
            type: object
            properties:
              key:
                description: click here to see Package Special Service Types
                externalDocs:
                  description: Find more info here
                  url: https://example.com
                type: string
                example: age
              value:
                description: click here to see Package Special Service Types
                externalDocs:
                  description: Find more info here
                  url: https://example.com
                type: string
                example: '17'
            required:
              - key
      required:
        - specialServiceTypes
    CustomerReference:
      type: object
      description: >-
        Custom messages to print on the shipping label for the package. These
        are typically used to print invoice numbers, product numbers, or other
        internal reference numbers. Not all carriers support label messages. The
        number of lines and the maximum length of each line also varies by
        carrier.
      properties:
        ref1:
          description: >-
            The first line of the custom label message. Some carriers may prefix
            this line with something like "REF", "Reference", "Trx Ref No.",
            etc.
          type: string
          minLength: 1
          example: RB1-UB-20220221-18853
        ref2:
          description: >-
            The second line of the custom label message. Some carriers may
            prefix this line with something like "INV", "Reference 2", "Trx Ref
            No.", etc.
          type: string
          minLength: 1
          example: W44616989
        ref3:
          description: >-
            The third line of the custom label message. Some carriers may prefix
            this line with something like "PO", "Reference 3", etc.
          type: string
          minLength: 1
          example: W44616989
      required:
        - ref1
        - ref2
        - ref3
    ItemLine:
      type: object
      properties:
        itemTransactionId:
          description: >-
            This element allows you to assign a unique identifier to your
            package. This element is also returned in the reply and helps you
            match the request to the reply.
          type: string
          minLength: 1
          maxLength: 100
          example: test-xxxx-xxxxxxxx
        package_code:
          type: string
          description: >-
            The package type, such as `thick_envelope`, `small_flat_rate_box`,
            `large_package`, etc. The code `package` indicates a custom or
            unknown package type.
        itemCode:
          description: sku
          type: string
          minLength: 1
          example: TEST
        weight:
          allOf:
            - $ref: '#/components/schemas/Weight'
          description: These are the package weight details.
        dimensions:
          allOf:
            - $ref: '#/components/schemas/Dimensions'
          description: Indicate the dimensions of the package.
          externalDocs:
            description: Find more info here
            url: https://example.com
        declaredValue:
          type: object
          description: >-
            This is the Declared Value of any shipment.This is including, but
            not limited to any loss, damage, delay, misdelivery, any failure to
            provide information, or misdelivery of information related to the
            Shipment.
          properties:
            currency:
              type: string
              enum:
                - USD
                - EUR
                - JPY
                - GBP
              description: The currencies that are supported by ShipEngine.
            amount:
              type: number
              minimum: 0
              description: The monetary amount, in the specified currency.
        specialService:
          allOf:
            - $ref: '#/components/schemas/special_service'
        customerReference:
          allOf:
            - $ref: '#/components/schemas/CustomerReference'
          description: >-
            This is a customer reference type. The value specified here for the
            element is printed on the Commercial Invoice only for tracking and
            label information.
      required:
        - itemTransactionId
        - itemCode
        - weight
        - dimensions
    create_shipments_request_body:
      type: object
      properties:
        transactionId:
          description: >-
            This element allows you to assign a unique identifier to your
            transaction. This element is also returned in the reply and helps
            you match the request to the reply.
          type: string
          minLength: 1
          maxLength: 50
          example: XXXX_XXX123XXXXX
        carrierId:
          description: The carrier account that is billed for the shipping charges.
          type: string
          minLength: 1
          example: John
        serviceType:
          description: >-
            The [carrier service](https://example.com) used to ship the package,
            such as `fedex_ground`, , etc.
          externalDocs:
            description: Find more info here
            url: https://example.com
          type: string
        shipper:
          allOf:
            - $ref: '#/components/schemas/shipper'
          description: >-
            The shipment's origin address. If you frequently ship from the same
            location, consider creating a warehouse. Then you can simply specify
            the `warehouse_id` rather than the complete address each time.

             > **Note:** Either `warehouse_id` or `ship_from` must be specified.
        recipient:
          description: The recipient's mailing address
          allOf:
            - $ref: '#/components/schemas/recipient'
        warehouseId:
          type: string
          default: null
          allOf:
            - $ref: '#/components/schemas/gg_id'
          description: 'The warehouse that the shipment is being shipped from. '
        returnAddress:
          type: object
          description: >-
            The return address for this shipment. Defaults to the `ship_from`
            address.
          allOf:
            - $ref: '#/components/schemas/contact'
            - $ref: '#/components/schemas/address'
        signatureOption:
          type: object
          description: Indicate the Signature Type.
          oneOf:
            - $ref: '#/components/schemas/signature_option_fedex'
            - $ref: '#/components/schemas/signature_option_gel'
            - $ref: '#/components/schemas/signature_option_evri'
        labelSpecification:
          oneOf:
            - $ref: '#/components/schemas/LabelSpecification_fedex'
            - $ref: '#/components/schemas/LabelSpecification_gel'
            - $ref: '#/components/schemas/LabelSpecification_gls'
            - $ref: '#/components/schemas/LabelSpecification_whistl'
        itemLines:
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/ItemLine'
      required:
        - recipient
        - shipper
    Item:
      type: object
      properties:
        itemTransactionId:
          description: >-
            This element has a unique identifier added in your request, helps
            you match the request to the reply.
          type: string
          example: test-xxxx-xxxxxxxx
        trackingNumber:
          description: >-
            The tracking number for the package. The format depends on the
            carrier.
          type: string
          example: JDXXXXXXXXXXXXXXXXX
        imageType:
          description: >-
            Format of the label. For requests, please use get service to see
            available formats
          type: string
          example: pdf
        fileUrl:
          description: |-
            The URL of the shipping document/label.

             > **Note:** When fileUrl is null, fileBytes must have a value, otherwise, when fileUrl is not empty, fileBytes is null
          type: string
          example: https://XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
        fileBytes:
          description: >-
            Base64 string representing label data. Decode this from base64 to
            get your label in the right encoding. E.g. a png label decoded from
            base64 and saved as a .png file will work as a .png image
          type: string
          example: ...
      required:
        - itemTransactionId
        - trackingNumber
        - imageType
    Error:
      type: object
      properties:
        itemTransactionId:
          description: >-
            This element has a unique identifier added in your request, helps
            you match the request to the reply.
          type: string
          example: test-xxxx-xxxxxxxx
        code:
          description: Indicates the error code.
          type: string
          example: 301-02-C-001
        message:
          description: Indicates the description of API error alert message.
          type: string
          example: The Address Line 1 field is required.The City field is required.
      required:
        - itemTransactionId
        - code
        - message
    Data:
      type: object
      properties:
        transactionId:
          description: >-
            This element has a unique identifier added in your request, helps
            you match the request to the reply.
          type: string
          example: XXXX_XXX123XXXXX
        transactionShipments:
          description: An array of shipments that were created.
          type: array
          items:
            $ref: '#/components/schemas/Item'
        errors:
          description: This is wrong purchase collection
          type: array
          items:
            $ref: '#/components/schemas/Error'
      required:
        - transactionId
    SuccessResp:
      type: object
      properties:
        success:
          description: |-
            Used to judge whether it is successful.

             > **Note:** When success is false, errCode and errorMessage are not null, on the contrary, when it is true, data is not null
          type: boolean
          example: true
        errCode:
          description: The error code specified for the failed API Call.
          type: string
          x-nullable: true
          example: UNKNOWN_ERROR
        errMessage:
          description: An error message associated with the failed API call
          type: string
          x-nullable: true
          example: Parameter check exception
        data:
          description: The descriptive data of the requested shipment.
          $ref: '#/components/schemas/Data'
          x-nullable: true
      required:
        - success
    CustomerAddress:
      type: object
      description: customer address info
      properties:
        id:
          type: integer
          minLength: 1
          description: unique id
        name:
          type: string
          description: >-
            The name of a contact person at this address. This field may be set
            instead of - or in addition to - the `company_name` field.
          minLength: 1
          maxLength: 25
          example: CA1
        phone:
          type: string
          minLength: 1
          maxLength: 25
          description: >-
            The phone number of a contact person at this address. The format of
            this phone number varies depending on the country.
          example: 123456789
        companyName:
          type: string
          description: >-
            If this is a business address, then the company name should be
            specified here.
          x-nullable: true
          example: John Doe
        addressLine1:
          type: string
          minLength: 1
          description: >-
            The first line of the street address. For some addresses, this may
            be the only line. Other addresses may require 2 or 3 lines.
          example: 1999 Bishop Grandin Blvd.
        addressLine2:
          type: string
          description: >-
            The second line of the street address.  For some addresses, this
            line may not be needed.
          example: Unit 408.
          nullable: true
        addressLine3:
          type: string
          description: >-
            The third line of the street address.  For some addresses, this line
            may not be needed.
          nullable: true
          example: 'Building #7'
        cityLocality:
          type: string
          minLength: 1
          description: The name of the city or locality
          example: Winnipeg
        stateProvince:
          type: string
          minLength: 1
          description: >-
            The state or province.  For some countries (including the U.S.) only
            abbreviations are allowed.  Other countries allow the full name or
            abbreviation.
          example: Manitoba
        postalCode:
          type: string
          minLength: 1
          example: '56234'
          description: postal code
        countryCode:
          type: string
          minLength: 2
          maxLength: 2
          description: >-
            The two-letter [ISO 3166-1 country
            code](https://en.wikipedia.org/wiki/ISO_3166-1)
          example: US
        addressResidentialIndicator:
          type: string
          enum:
            - unknown
            - 'yes'
            - 'no'
          default: unknown
          description: Indicates whether this is a residential address.
          example: 'yes'
      required:
        - id
        - name
        - phone
        - addressLine1
        - cityLocality
        - stateProvince
        - postalCode
        - countryCode
        - addressResidentialIndicator
    Warehouse:
      type: object
      title: list_warehouses_response_body
      description: A warehouse list response body
      properties:
        id:
          description: A string that uniquely identifies the warehouse
          type: string
          maxLength: 100
          example: XXXX_XXX123XXXXX
        name:
          description: Name of the warehouse
          type: string
          minLength: 1
          maxLength: 25
          example: CA1
        type:
          description: Type of the warehouse
          type: string
          enum:
            - ZY
            - THIRD_PARTY
            - ONSITE
          example: ZY
        nickName:
          description: Alias of the warehouse
          type: string
          maxLength: 25
          example: CA1
        originAddress:
          description: The origin address of the warehouse
          allOf:
            - $ref: '#/components/schemas/CustomerAddress'
        returnAddress:
          description: The return address associated with the warehouse
          allOf:
            - $ref: '#/components/schemas/CustomerAddress'
      required:
        - id
        - name
        - type
    AddAndUpdateReq:
      type: object
      title: create A warehouse Request
      description: create A warehouse Request
      properties:
        name:
          description: Name of the warehouse
          type: string
          minLength: 1
          maxLength: 25
          example: Zero Cool HQ
        customerId:
          description: Warehouse customer
          type: string
          maxLength: 50
          example: John
        type:
          description: Type of the warehouse
          type: string
          enum:
            - ZY
            - THIRD_PARTY
            - ONSITE
          example: ZY
        nickName:
          description: Alias of the warehouse
          type: string
          maxLength: 25
          example: CA1
        originAddress:
          description: The origin address of the warehouse
          allOf:
            - $ref: '#/components/schemas/CustomerAddress'
        returnAddress:
          description: The return address associated with the warehouse
          allOf:
            - $ref: '#/components/schemas/CustomerAddress'
      required:
        - id
        - name
        - type
    Problem:
      type: object
      additionalProperties: true
      minProperties: 1
      description: >-
        The Problem Details JSON Object
        [[RFC7807](https://tools.ietf.org/html/rfc7807)].
      properties:
        type:
          type: string
          description: >-
            A URI reference [[RFC3986](https://tools.ietf.org/html/rfc3986)]
            that identifies the problem type. It should provide human-readable
            documentation for the problem type. When this member is not present,
            its value is assumed to be "about:blank".
          format: uri
        title:
          type: string
          description: >-
            A short, human-readable summary of the problem type. It SHOULD NOT
            change from occurrence to occurrence of the problem, except for
            purposes of localization.
        status:
          type: integer
          description: The HTTP status code.
          minimum: 400
          maximum: 599
        detail:
          type: string
          description: >-
            A human-readable explanation specific to this occurrence of the
            problem.
        instance:
          type: string
          description: >-
            A URI reference that identifies the specific occurrence of the
            problem.  It may or may not yield further information if
            dereferenced.
  responses:
    Problem:
      description: Problem
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
